//----------------------------------------------
// horizontal layout
$wrap-middle-width: 60%;
$wrap-outter-width: (100% - $wrap-middle-width)/2;
#selector-test {
  position: relative;
  text-align: center;
  padding: $selector-test-toolbar-vt-padding 0;
  .wrap {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 0 .5em;
    &.middle { width: $wrap-middle-width; }
    &.outter { width: $wrap-outter-width; }
  }//.wrap

  input {
    &#selector_engine { width: 13em; }
    &#query { width: 100%; }
  }//input

  label {
    display: block;
    &:after { content: "#{$arrow-right-down}"; }

    &.query {}//&.query
  }//label
}//#selector-test

.dropdown {
  position: relative;
  display: inline-block;

  * { z-index: $dropdown-child-z; }

  button {
    position: relative;
    width: 100%;
    padding: 8px 2em 8px 0.8em;
  }//button

  ul {
    position: absolute;
    top: 100%;
    float: left;
    opacity: 0;
    visibility: hidden;
    @include transition-two( visibility 0s linear 0.2s,opacity 0.2s linear );
    &.shown {
      opacity: 1;
      visibility:visible;
      @include transition-delay( 0s );
    }//&.shown
  }//ul

  .drop-indicator {
    color: #eee;
    position: absolute;
    width: 2em;
    right: 0;
    top: 6px;
    bottom: 6px;
    border-left: 1px solid white;
    text-align: center;
    cursor: pointer;
    @include user-select( none );
  }//.drop-indicator
}//.dropdown

.action-buttons button { width: 9.2em; }
.selector-engine button { width: 7.2em; }
.selector-engine-label { padding-left: 1em; }