.ui-tabs .ui-tabs-nav li a {
  float: left;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 14px;
}

.ui-widget-content, .ui-widget-header {
  border: 0;
  background: none;
  color: inherit;
}
.ui-tabs .ui-tabs-nav {
margin: 0;
padding: 0;
}

.ui-corner-all {
-moz-border-radius: 0;
-webkit-border-radius: 0;
border-radius: 0;
}

.ui-tabs {
  padding: 0;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 0;
  background: none;
  font-weight: normal;
  color: inherit;
  cursor: default;
}