html {
  background-color: #efefef;
}
body {
	font-family: "Helvetica Neue", "HelveticaNeue", Arial;
}

input, button {
  height: 30px;
  padding: 0 10px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px 0px rgba(0,0,0, .7);
     -moz-box-shadow: inset 0 1px 3px 0px rgba(0,0,0, .7);
          box-shadow: inset 0 1px 3px 0px rgba(0,0,0, .7);
}

input {
  text-align: left;
  border-bottom: 1px solid rgba(255,255,255, .2);
}

button {
  color: #fff;
  text-shadow: 0 -1px rgba(0,0,0, .3);
  background-image: -webkit-linear-gradient(top, #ddd, #999);
  background-image:    -moz-linear-gradient(top, #ddd, #999);
  background-image:         linear-gradient(top, #ddd, #999);
}

button:hover {
  background-image: -webkit-linear-gradient(top, #ccc, #999);
  background-image:    -moz-linear-gradient(top, #ccc, #999);
  background-image:         linear-gradient(top, #ccc, #999);
}

button:active { background: #999; }

#header {
  position: relative;
  height: 40px;
  padding-left: 10px;
  color: #fff;
  text-shadow: 0 -1px rgba(0,0,0, .4);
  background-image: -webkit-linear-gradient(top, rgba(102,102,102, 1), rgba(51,51,51, 1) );
  background-image:    -moz-linear-gradient(top, rgba(102,102,102, 1), rgba(51,51,51, 1) );
  background-image:         linear-gradient(top, rgba(102,102,102, 1), rgba(51,51,51, 1) );
}

#header a {
  color: #aaff00;
  font-size: 20px;
  font-weight: bold;          
}

#header h1 {
  font-size: 2em;
  float: left;
}

#header i { 
  display: none; 
}

#refresh { 
  float: right;
}

#refresh button, #refresh span {
  height: 40px;
  width: 40px;
  position: relative;
  display: block;
  text-align: center;
  border-radius: 3px 0 0 3px;
}
#refresh span {
  position: absolute;
  top: 0;
  right: 0;
  background: url('images/loader.png') center center no-repeat;
  background-size: 80% auto;
  -webkit-transition: background 1s;
     -moz-transition: background 1s;
          transition: background 1s;
}

.working #refresh span {
  background-image:url('images/loader.gif');
  background-size: 80% auto;
}

#selector-test {
  padding: 10px;
  text-align: center;
}

#selector-test > input {
  display: inline-block;
  position: relative;
  width: 45%;
}

#flash-button { 
  width: 30%;
  display: inline-block;
}

.the-columns {
  position: absolute;
  top: 90px;
  right: 0;
  bottom: 0;
  left: 0;
}

#inspect-tabs, #list-tabs {
  position: absolute;
  top: 0;
  bottom: 0;
}

#inspect-tabs {
  right: 0;
  left: 60%;
  overflow: hidden;
  border-left: 1px solid rgba(255,255,255, .1);
  -webkit-transition: left .3s;
     -moz-transition: left .3s;
          transition: left .3s;
  -webkit-box-shadow: inset 3px 0 3px 0 rgba(0,0,0, .4);
     -moz-box-shadow: inset 3px 0 3px 0 rgba(0,0,0, .4);
          box-shadow: inset 3px 0 3px 0 rgba(0,0,0, .4);
  -webkit-border-radius: 3px 0 0 0;
     -moz-border-radius: 3px 0 0 0;
          border-radius: 3px 0 0 0;
}

#list-tabs {
  right: 40%;
  left: 0;
  -webkit-transition: right .3s;
     -moz-transition: right .3s;
          transition: right .3s;
  -webkit-border-radius: 0 3px 0 0;
     -moz-border-radius: 0 3px 0 0;
          border-radius: 0 3px 0 0;
  -webkit-box-shadow: inset -3px 0 3px 0 rgba(0,0,0, .4);
     -moz-box-shadow: inset -3px 0 3px 0 rgba(0,0,0, .4);
          box-shadow: inset -3px 0 3px 0 rgba(0,0,0, .4);
}

/* respond to landscape view. */
.landscape #inspect-tabs { left: 50%; }
.landscape #list-tabs { right: 50%; }


#list-tabs > div, #dom_detail {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
}

#inspect-tabs > ul, #list-tabs > ul {
  overflow: hidden;
  -webkit-box-shadow: inset 0 1px 3px 0px rgba(0,0,0, .7);
     -moz-box-shadow: inset 0 1px 3px 0px rgba(0,0,0, .7);
          box-shadow: inset 0 1px 3px 0px rgba(0,0,0, .7);
}

#inspect-tabs > ul > li, #list-tabs > ul > li {
  float: right;
  position: relative;
  width: 50%;
  display: inline-block;
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: center;
  background: none;
  border: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
#inspect-tabs > ul > li > a, #list-tabs > ul > li > a {
  float: none;
  padding: inherit;
  line-height: 40px;
  cursor: pointer;
  display: block;
  color: #fff;
  text-shadow: 0 -1px rgba(0,0,0, .3);
  background-image: -webkit-linear-gradient(top, rgba(221,221,221, .6), rgba(153,153,153, .6) );
  background-image:    -moz-linear-gradient(top, rgba(221,221,221, .6), rgba(153,153,153, .6) );
  background-image:         linear-gradient(top, rgba(221,221,221, .6), rgba(153,153,153, .6) );
  -webkit-box-shadow: inset 0 0 2px 0px rgba(0,0,0, .4);
     -moz-box-shadow: inset 0 0 2px 0px rgba(0,0,0, .4);
          box-shadow: inset 0 0 2px 0px rgba(0,0,0, .4);
}
#inspect-tabs > ul > li > a:hover, #list-tabs > ul > li > a:hover {
  background-image: -webkit-linear-gradient(top, rgba(204,204,204, .6), rgba(153,153,153, .6) );
  background-image:    -moz-linear-gradient(top, rgba(204,204,204, .6), rgba(153,153,153, .6) );
  background-image:         linear-gradient(top, rgba(204,204,204, .6), rgba(153,153,153, .6) );
}

#inspect-tabs > ul > li > a:active, #list-tabs > ul > li > a:active {
  background: rgba(153,153,153, .6);
  -webkit-box-shadow: inset 0 0 3px 0px rgba(0,0,0, .4);
     -moz-box-shadow: inset 0 0 3px 0px rgba(0,0,0, .4);
          box-shadow: inset 0 0 3px 0px rgba(0,0,0, .4);
}

a#dump_button {
  vertical-align: middle;
}

#dom_dump {
  padding: 0 10px 10px 10px;
}

div#dom_dump .treeview .selected { 
  font-weight: bold;
  color: black; /*set color to black to overwrite the red color on hover, just for the selected item*/
}

div#dom_dump .treeview .hovered-in-locator { 
  color: #aaff00;
}

#dom_detail {
  font-size:0.8em;
  padding: 10px;
  word-break: break-word;
}

#dom_detail li {
  padding: 6px 0;
  border-top: 2px solid rgba(255,255,255, .7);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  -webkit-transition: background-color .1s;
     -moz-transition: background-color .1s;
          transition: background-color .1s;
}
#dom_detail li:first-child { border-top: none; }
#dom_detail li:last-child { border-bottom: none; }

#dom_detail li:hover {
  background-color: rgba(255,255,255, .4);
}

#dom_detail .key {
  font-size: 1.5em;
}

#dom_detail .value:before {
  content: "\21b3";
  padding-left: 2px;
  color: #999;
}

#dom_detail .interesting {
  font-weight: bold;
}

div#accessible-views-tab div.hints{
  font-size: 0.8em;
  border: 1px;
  border-style: dashed;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

div#accessible-views a{
	color: #6ab23f;
	text-decoration: none;
  font-style: italic;
}

div#accessible-views span{
  font-style: normal;
  font-weight: bold;
}

#ui-locator {
  padding: 0;
}

#live-view, #ui-live-view-rotator {
  text-align: center;
  display: inline-block;
  float: right;
}

#live-view button {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

#live-view button.down {
  background-image: -webkit-linear-gradient(top, #2380CC, #154E7C);
  background-image:    -moz-linear-gradient(top, #2380CC, #154E7C);
  background-image:         linear-gradient(top, #2380CC, #154E7C);
}

#live-view button span {
  font-family: Pictos;
  font-size: 20px;
}

#ui-locator-view{
  position: absolute;
  z-index: -1;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  -webkit-transition: -webkit-transform .3s;
     -moz-transition:    -moz-transform .3s;
          transition:         transform .3s;
}

#ui-locator-rotator {
  float: right;
  font-family: Pictos;
  -webkit-border-radius: 0 0 0 3px;
     -moz-border-radius: 0 0 0 3px;
          border-radius: 0 0 0 3px;
}

#ui-locator-view.landscape{
  position: absolute;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
          transform: rotate(90deg);
}

#query {
	width: 300px;
}

ul {
	list-style-type: none;  
}

ul.features li {
	margin-top: 5px;
}


#dom_detail table, #dom_detail tbody, #dom_detail tr { position: relative; width: 100%; }
#dom_detail td { width: 50%; }

.ui-state-disabled { cursor: default !important; }

.ui-tabs .ui-tabs-hide { display: none !important; }

.ui-tabs .ui-tabs-nav li a {
  float: left;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
}
.ui-tabs-selected {
  background-image: -webkit-linear-gradient(top, #2380CC, #154E7C);
  background-image:    -moz-linear-gradient(top, #2380CC, #154E7C);
  background-image:         linear-gradient(top, #2380CC, #154E7C);
}