body {
	padding: 0px;
	margin: 0px;
	font-family: Georgia;
}

#selector-test {
  padding: 20px;
  padding-bottom: 0px;
  white-space: nowrap;
}

.symbiote_shell {
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

/*table.symbiote_shell td {
 vertical-align: top;
}*/

#inspect-tabs, #list-tabs {
  position: absolute;
  top: 72px;
  bottom: 0;
  overflow: hidden;
}
#inspect-tabs {
  right: 0;
  left: 60%;
}
#list-tabs {
  right: 40%;
  left: 0;
}
#list-tabs > div, #dom_detail {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
}

div#inspect-tabs > ul > li {
  float: right;
  font-size: 12px;
}
div#inspect-tabs > ul {
  background: #333;
}

a#dump_button {
  vertical-align: middle;
}

img#loading {
  vertical-align: middle;
	margin-right: 6px;
}

div#refresh {
  padding: 20px;
  text-align:right;
}

div#dom_dump {
  font-size:0.8em;
}

div#dom_dump .treeview .selected { 
  font-weight: bold;
  color: black; /*set color to black to overwrite the red color on hover, just for the selected item*/
}

div#dom_dump .treeview .hovered-in-locator { 
  color: #aaff00;
}

#dom_detail {
  font-size:0.8em;
  margin: 0;
  padding: 0;
}

#dom_detail li {
  font-size: 12px;
  padding: 6px 0;
  border-top: 1px solid 
  white;
  border-bottom: 1px solid 
  rgba(0, 0, 0, .2);
}

#dom_detail .key {
  font-size: 1.5em;
}

#dom_detail .value:before {
  content: "=>";
}

#dom_detail .interesting {
  font-weight: bold;
}

h1 {
	margin:0px;
	padding: 0px;
}

div#header {
	padding: 10px;
	margin: 0px;
	background-color: #333;
	color: #fff;
	height: 80px;
}

#header a {
	color: #aaff00;
	font-size: 20px;
	font-weight: bold;          
}

div#accessible-views-tab div.hints{
  font-size: 0.8em;
  border: 1px;
  border-style: dashed;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

div#accessible-views a{
	color: #6ab23f;
	text-decoration: none;
  font-style: italic;
}

div#accessible-views span{
  font-style: normal;
  font-weight: bold;
}

div#live-view{
  text-align: center;
}

#ui-locator-view{
  text-align: center;
  -webkit-transition: -webkit-transform .3s
}

div#ui-locator-view.landscape{
  -webkit-transform: rotate(90deg);
}

#query {
	width: 300px;
}

ul {
	list-style-type: none;  
}

ul.features li {
	margin-top: 5px;
}


#dom_detail table, #dom_detail tbody, #dom_detail tr { position: relative; width: 100%; }
#dom_detail td { width: 50%; }
